{% extends "base.html" %}
{% block content %}
    <div class="container">
      
      <h4 class="header center orange-text">Answer Sheet</h4>
      <p> <b>Student got late for Exam.</b></p>
      
      <div class="row center" id="answer">
        
      </div>
      <div class="row ">
        
        
          <table>

          </table>
      </div>
      <br><br>
      <ol id='list'></ol>
    </div>


    <div class="container" id="table" name="table">
        <div class="section">
          <a href="{{url_for('answer')}}"><button style="margin-left: -39px;" class="waves-effect waves-light btn" >Back To All Students</button>  </a>  
          <!-- <input type="button" value="Generate a table." onclick="generate_table()"> -->
        </div>
    </div>
    <br><br>

<script>

</script>
{% endblock %}