{% extends "base.html" %}
{% block content %}
    <div class="container">
      
      <h4 class="header center orange-text">Answer Sheet</h4>
      <div class="row center">
          
        <table>
            <thead>
              <tr>
                  <th>Roll No</th>
                  <th>Name</th>
                  <th>Branch</th>
                  <th>Full Sheet</th>
              </tr>
            </thead>
    
            <tbody>
              {%for i in answersheet%}
              <tr>
                <td><a href="{{url_for('answers',id=i.rollno)}}"> {{i.rollno}} </a></td>
                <td>{{i.student_name}}</td>
                <td>{{i.branch}}</td>
                <td><a href="{{url_for('answers',id=i.rollno)}}"><button style="margin-left: -39px;" class="waves-effect waves-light btn" >Show</button></a></td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
      </div>
      <div class="row ">
        <a href="{{url_for('submit')}}"><button style="margin-left: -39px;" class="waves-effect waves-light btn" >Exit</button>  </a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container" id="table">
    <div class="section">

      </div>
    </div>
    <br><br>
{% endblock %}